# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# .NET artifacts
*.dll
*.exe
*.pdb
*.cache
*.mdb

# NuGet
*.nupkg
*.snupkg
packages/

# Rider / VSCode
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Android
*.keystore
*.apk
*.aab

# iOS
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.ipa

# Logs
*.log

# MAUI
*.maui-cache

# Secrets
secrets.json
appsettings.Development.json